[Desktop Entry]
Type=Application
Version=1.2.0
Name=Whisper
Comment=Whatsapp Web Client on Linux
Exec=whisper %U
Icon=whisper
Terminal=false
Categories=Network;
StartupWMClass=Whisper
